<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiểu công việc</title>
    <%- include('../_share/style'); %>
</head>
<body>
    <div class="container">
        <%- include('../_share/header'); %>
        <main class="container-fluid">
            <h4 class="text-center">Kiểu công việc</h4>
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Kiểu công việc</th>
                </thead>

                <tbody>
                <% for(let i = 0; i < typesOfWork.length; i++) {%>
                    <tr>
                        <td><%= typesOfWork[i].id %></td>
                        <td><%= typesOfWork[i].name %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </main>
        <%- include('../_share/footer'); %>
    </div>
</body>
</html>

