<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thể loại bài viết</title>
    <%- include('../_share/style'); %>
</head>
<body>
<div class="container-fluid">

    <main class="container">
        <%- include('../_share/header'); %>
        <h4 class="text-center">Thể loại bài viết</h4>

        <div class="row">
            <div class="col-4">
                <form action="" method="GET">
                    <div class="form-group">
                        <label for="">Tìm kiếm</label>
                        <input type="text" name="keyword"  class="form-control" value="<%= keyword %> ">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </form>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <th>Tên thể loại bài viết</th>
                <th>
                    <a
                            href="/news-categories/create"
                            class="btn btn-sm btn-success">
                        Tạo mới
                    </a>
                </th>
            </thead>

            <tbody>
            <% for(let i = 0; i < newsCategories.length; i++) {%>
                <tr>
                    <td><%= newsCategories[i].name %></td>
                    <td>
                        <a
                                href="/new-categories/detail/<%= newsCategories[i].id %>"
                                class="btn btn-info btn-sm">
                            Chi tiết
                        </a>
                        &nbsp;
                        <a
                                href="/new-categories/update/<%= newsCategories[i].id %>"
                                class="btn btn-warning btn-sm">
                            Cập nhật
                        </a>
                        &nbsp;
                        <a
                                href="/new-categories/remove/<%= newsCategories[i].id %>"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('Việc xóa thể loại bài viết sẽ xóa cả dữ liệu các bài viết (nếu có) của thể loại này. Vẫn xóa?')">
                            Xóa
                        </a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>

