<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật thể loại bài viết</title>
    <%- include('../_share/style'); %>
</head>
<body>
<div class="container">
    <%- include('../_share/header'); %>
    <main class="container-fluid">
        <h4 class="text-center">Cập nhật thể loại bài viết</h4>
        <form action="/news-categories/update-save"
              method="post"
              onsubmit="return validateForm()">

            <div class="form-group">
                <label for="">Tên thể loại bài viết</label>
                <input name="id"
                       value="<%= newsCategoryObj.id %>"
                        style="display: none">
                <input type="text" name="name"
                       class="form-control"
                       placeholder="Nhập tên thể loại bài viết"
                        value="<%= newsCategoryObj.name%>">
                <span id="name-err"
                      class="validate-err text-danger">
                </span>
            </div>

            <div class="text-center">
                <button class="btn btn-primary btn-sm" type="submit">
                    Lưu
                </button>

                &nbsp;

                <a href="/news-categories" class="btn btn-sm btn-danger">
                    Hủy
                </a>
            </div>

        </form>
    </main>
    <%- include('../_share/footer'); %>
</div>

<%- include('../_share/script'); %>
<script>
    function validateForm() {
        // Initial error message of category name is empty
        $('.validate-err').text("");

        // Get value of element has attribute "name" is "name"
        let name = $('[name="name"]').val().trim();
        if (name.length === 0) {
            $('#name-err').text("Hãy nhập tên thể loại");
            return false;
        }

        return true;
    }
</script>
</body>
</html>