<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin người dùng</title>
    <%- include('../_share/style'); %>
</head>
<body>
<div class="container">
    <%- include('../_share/header'); %>

    <main class="container-fluid">
        <div class="text-center" style="margin-bottom: 20px;">
            <% if(!user.avatarUrl){ %>
                <img src="https://vectorified.com/images/no-image-icon-3.png"
                     style="max-width: 200px;"
                     class="userAvatar"
                />
            <% } else{ %>
                <img src="<%= user.avatarUrl %>"
                     style="max-width: 200px;"
                     class="userAvatar"
                />
            <% } %>

            <h4 style="text-transform: uppercase;">
                <%= user.fullName %>
            </h4>
        </div>

        <div id="userInfo">
            <div style="margin-bottom: 25px;">
                <p><strong>Mức lương mong muốn</strong></p>

                <% if(!user.expectedSalaryInVnd){ %>
                    <p>Chưa cập nhật</p>
                <% } else{ %>
                    <p><%= user.expectedSalaryInVnd %> đồng trở lên</p>
                <% } %>
            </div>

            <div style="margin-bottom: 25px;">
                <p><strong>Loại hình công việc</strong></p>

                <% if(!user.typeOfWork){ %>
                    <p>Chưa cập nhật</p>
                <% } else{ %>
                    <p><%= user.typeOfWork %></p>
                <% } %>
            </div>

            <div style="margin-bottom: 25px;">
                <p><strong>Trình độ học vấn</strong></p>

                <% if(!user.graduatedEducation){ %>
                    <p>Chưa cập nhật</p>
                <% } else{ %>
                    <p><%= user.graduatedEducation %></p>
                <% } %>
            </div>

            <div style="margin-bottom: 25px;">
                <p><strong>Kinh nghiệm làm việc</strong></p>

                <% if(!user.yearsOfExperiences){ %>
                    <p>Chưa cập nhật</p>
                <% } else{ %>
                    <p><%= user.yearsOfExperiences %> năm</p>
                <% } %>
            </div>

            <div style="margin-bottom: 25px;">
                <p style="text-transform: uppercase">
                    <strong>MÔ TẢ BẢN THÂN</strong>
                </p>

                <% if(!user.resumeSummary) { %>
                    <p>Chưa cập nhật</p>
                <% } else{ %>
                    <p><%= user.resumeSummary %></p>
                <% } %>
            </div>

            <div style="margin-bottom: 25px;">
                <p style="text-transform: uppercase">
                    <strong>MỤC TIÊU NGHỀ NGHIỆP</strong>
                </p>

                <% if(!user.careerObjective) { %>
                    <p>Chưa cập nhật</p>
                <% } else{ %>
                    <p><%= user.careerObjective %></p>
                <% } %>
            </div>

            <div style="margin-bottom: 25px;">
                <p style="text-transform: uppercase">
                    <strong>LIÊN HỆ</strong>
                </p>
                <table>
                    <tr>
                        <td width="100px"><strong>Ngày sinh</strong></td>
                        <td>
                            <% if(user.birthdayInMilliseconds === null){ %>
                                <span>Chưa cập nhật</span>
                            <% } else { %>
                                <span>
                                <%=
                                    moment(user.birthdayInMilliseconds)
                                    .format('DD-MMM-YYYY')
                                %>
                            </span>
                            <% } %>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Địa chỉ</strong></td>

                        <% if(!user.subdistrictName){ %>
                            <td>Chưa cập nhật</td>
                        <% } else { %>
                            <td>
                                <%= user.subdistrictName %>,
                                <%= user.districtName%>,
                                <%= user.stateProvinceName %>
                            </td>
                        <% } %>
                    </tr>

                    <tr>
                        <td><strong>SĐT</strong></td>
                        <td><%= user.phone %></td>
                    </tr>

                    <tr>
                        <td><strong>Email</strong></td>
                        <td><%= user.email %></td>
                    </tr>
                </table>
            </div>
        </div>

        <% if (experiences.length) { %>
            <div id="experiences">
                <div style="margin-bottom: 25px;">
                    <p style="text-transform: uppercase">
                        <strong>KINH NGHIỆM LÀM VIỆC</strong>
                    </p>

                    <table class="table table-striped">
                        <thead>
                            <th>Thời gian</th>
                            <th>Chi tiết</th>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < experiences.length; i++) { %>
                                <tr>
                                    <td style="width: 25%;">
                                        Từ
                                        <%=
                                            moment(experiences[i].dateInMilliseconds)
                                            .format('MM-YYYY')
                                        %>

                                        <% if(experiences[i].dateOutMilliseconds){ %>
                                                 đến
                                                <%=
                                                    moment(experiences[i].dateOutMilliseconds)
                                                            .format('MM-YYYY')
                                                %>
                                        <% } %>
                                    </td>
                                    <td>
                                        <p><strong><%= experiences[i].companyName %></strong></p>
                                        <p><%= experiences[i].jobTitle%></p>
                                        <p><%= experiences[i].jobDetails %></p>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>

        <% if (educationResult.length) { %>
            <div id="education">
                <p style="text-transform: uppercase">
                    <strong>TRÌNH ĐỘ HỌC VẤN</strong>
                </p>

                <table class="table table-striped">
                    <thead>
                        <th>Thời gian</th>
                        <th>Chi tiết</th>
                    </thead>
                    <% for (let i = 0; i < educationResult.length; i++) { %>
                        <tr>
                            <td style="width: 25%;">
                                Từ
                                <%=
                                    moment(educationResult[i].startDateInMilliseconds)
                                            .format('MM-YYYY')
                                %>

                                <% if(educationResult[i].endDateInMilliseconds){ %>
                                    đến
                                    <%=
                                        moment(educationResult[i].endDateInMilliseconds)
                                                .format('MM-YYYY')
                                    %>
                                <% } %>
                            </td>
                            <td>
                                <p><strong>Trường</strong></p>
                                <p><%= educationResult[i].schoolName %></p>

                                <p><strong>Chuyên ngành</strong></p>
                                <p><%= educationResult[i].major%></p>

                                <p><strong>Bằng cấp</strong></p>
                                <p><%= educationResult[i].academicDegreeLevel%></p>

                                <p><%= educationResult[i].achievements%></p>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>

        <% if (jobSkills.length) { %>
            <div id="jobSkills">
                <p style="text-transform: uppercase">
                    <strong>Các kỹ năng</strong>
                </p>

                <table class="table table-striped">
                    <% for (let i = 0; i < jobSkills.length; i++) { %>
                        <tr>
                            <td>
                                <%= jobSkills[i].skillName %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>
        <% } %>

    </main>

    <%- include('../_share/footer'); %>
</div>
</body>
</html>