<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật thông tin người dùng</title>
    <%- include('../_share/style'); %>
</head>
<body>
<div class="container">
    <%- include('../_share/header'); %>

    <main class="container-fluid">
        <h4 class="text-center">Cập nhật thông tin người dùng</h4>
        <form action="/users/update-save"
              method="post"
              onsubmit="return validateForm()"
              enctype="multipart/form-data">

            <div class="text-center" style="margin-bottom: 20px;">
                <input name="id"
                       value="<%= user.id %>" readonly
                       style="display: none;">

                <% if(!user.avatarUrl){ %>
                    <img src="https://vectorified.com/images/no-image-icon-3.png"
                         style="max-width: 200px;"
                         class="userAvatar"
                    />
                <% } else{ %>
                    <img src="<%= user.avatarUrl %>"
                         style="max-width: 200px;"
                         class="userAvatar"
                    />
                <% } %>


            </div>

            <div class="col-md-6 offset-md-3">

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Hình ảnh</label>
                    <input type="file" name="avatar"
                           class="form-control">
                    <span id="avatar-err"
                          class="validate-err text-danger">
                    </span>
                </div>


                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Họ và tên</label>
                    <input type="text" name="fullName"
                           class="form-control"
                           placeholder="Nhập họ và tên"
                           value="<%= user.fullName %>">
                    <span id="full-name-err"
                          class="validate-err text-danger">
                    </span>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Số điện thoại</label>
                    <input type="text" name="phone"
                           class="form-control"
                           placeholder="Nhập số điện thoại"
                            value="<%= user.phone %>">
                    <span id="phone-err"
                          class="validate-err text-danger">
                    </span>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Email</label>
                    <input type="email" name="email"
                           class="form-control"
                           placeholder="Nhập email"
                           value="<%= user.email %>">
                    <span id="email-err"
                          class="validate-err text-danger">
                    </span>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Password</label>
                    <input type="password" name="password"
                           id="edtPassword"
                           class="form-control"
                           placeholder="Nhập password"
                           value="<%= user.password %>"
                            style="margin-bottom: 8px;">
                    <input type="checkbox"
                           id="chkShowHidePassword"
                           onclick="showHidePassword()">Hiện/ẩn password
                    <p id="password-err"
                          class="validate-err text-danger">
                    </p>

                </div>

                <div class="genderSelection" style="margin-bottom: 20px;"u>
                    <p>Giới tính</p>
                    <% for (let i = 0; i < genders.length; i++) { %>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        name="genderId"
                                        value="<%= genders[i].id %>"
                                        <% if(genders[i].id ===
                                                user.genderId) { %>
                                            checked
                                        <% } %>
                                        ><%= genders[i].name %>
                            </label>
                        </div>
                    <% } %>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="edtBirthday">
                        Ngày sinh (tháng-ngày-năm) (YYYY-MM-DD)
                    </label>
                    <input type="date"
                           id="edtBirthday"
                           name="birthdayText"
                           class="form-control"
                           placeholder="Nhập ngày sinh"
                           <% if (user.birthdayInMilliseconds) { %>
                               value="<%=
                                   moment(user.birthdayInMilliseconds)
                                           .format('YYYY-MM-DD')
                               %>"
                           <% } %>>
                    <span id="birthday-err"
                          class="validate-err text-danger">
                    </span>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Địa chỉ</label>
                    <input type="text" name="address"
                           class="form-control"
                           placeholder="Nhập địa chỉ"
                           value="<%= user.address %>">
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Trình độ học vấn</label>
                    <select name="graduatedEducationId" class="form-control">
                        <option value="">Chọn trình độ học vấn</option>
                        <%for(let i = 0;
                              i < levelsOfEducation.length;
                              i++){%>
                            <option
                            <% if(levelsOfEducation[i].id ===
                                    user.graduatedEducationId) { %>
                                selected
                                    <% } %>
                                value="<%= levelsOfEducation[i].id %>">
                                <%= levelsOfEducation[i].levelOfEducationName %>
                            </option>
                        <%}%>
                    </select>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Hình thức làm việc</label>
                    <select name="typeOfWorkId" class="form-control">
                        <option value="">Chọn hình thức làm việc</option>
                        <%for(let i = 0;
                              i < typesOfWork.length;
                              i++){%>
                            <option
                            <% if(typesOfWork[i].id ===
                                    user.typeOfWorkId) { %>
                                selected
                                    <% } %>
                                value="<%= typesOfWork[i].id %>">
                                <%= typesOfWork[i].name %>
                            </option>
                        <%}%>
                    </select>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="edtExpectedSalary">
                        Mức lương mong muốn (triệu đồng)
                    </label>
                    <input
                           id="edtExpectedSalary"
                           name="expectedSalaryInMillionVnd"
                           type="number" min="0"
                           class="form-control"
                           placeholder="Nhập mức lương mong muốn"
                           value="<%= user.expectedSalaryInMillionVnd %>">
                    <span id="expected-salary-err"
                          class="validate-err text-danger">
                    </span>
                </div>

                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Số năm kinh nghiệm</label>
                    <input
                        id="edtYearsOfExperiences"
                        type="number" min="0"
                        name="yearsOfExperience"
                        class="form-control"
                        placeholder="Nhập số năm kinh nghiệm"
                        value="<%= user.yearsOfExperience %>">
                    <span id="years-of-experiences-err"
                          class="validate-err text-danger">
                    </span>
                </div>

                <!-- Don't left space between open and close tag
                    of textarea because it cause white space
                    in text box -->
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Giới thiệu bản thân</label>
                    <textarea type="text" name="resumeSummary"
                              class="form-control"
                              style="overflow-y: scroll;
                              height: 300px;"
                    ><%= user.resumeSummary %></textarea>
                </div>

                <!-- Don't left space between open and close tag
                    of textarea because it cause white space
                    in text box -->
                <div class="form-group" style="margin-bottom: 20px;">
                    <label for="">Mục tiêu nghề nghiệp</label>
                    <textarea type="text" name="careerObjective"
                              class="form-control"
                              style="overflow-y: scroll;
                              height: 300px;"
                    ><%= user.careerObjective %></textarea>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary btn-sm" type="submit">
                        Lưu
                    </button>
                    &nbsp;
                    <a href="/users" class="btn btn-sm btn-danger">
                        Hủy
                    </a>
                </div>
            </div>

        </form>
    </main>
    <%- include('../_share/footer'); %>
</div>

<%- include('../_share/script'); %>
<script>
    function validateForm() {
        // Initial error message of category name is empty
        $('.validate-err').text("");

        // Get value of element has attribute "name" is "fullName"
        let fullName = $('[name="fullName"]').val().trim();
        if (fullName.length === 0) {
            $('#full-name-err').text("Hãy nhập họ và tên");
            return false;
        }

        if (fullName.length < 2) {
            $('#full-name-err').text("Nhập họ tên từ hai ký tự trở lên.");
            return false;
        }

        let phoneText = $('[name="phone"]').val().trim();
        if (phoneText.length === 0) {
            $('#phone-err').text("Hãy nhập số điện thoại");
            return false;
        }

        let regexPhone = /\d{9,10}/; // 9-10 digits
        if (!phoneText.match(regexPhone)) {
            $('#phone-err').text("Nhập số điện thoại 9 - 10 chữ số.");
            return false;
        }

        let emailText = $('[name="email"]').val().trim();
        if (emailText.length === 0) {
            $('#email-err').text("Hãy nhập email.");
            return false;
        }

        let regexEmail = /\w{1,}@\w{1,}.\w{1,}/; // anyword@anyword.anyword
        if (!emailText.match(regexEmail)) {
            $('#email-err').text("Hãy nhập email đúng định dạng.");
            return false;
        }

        let passwordText = $('[name="password"]').val().trim();
        if (passwordText.length === 0) {
            $('#password-err').text("Hãy nhập password.");
            return false;
        }

        if (passwordText.length < 6) {
            $('#password-err').text("Nhập mật khẩu từ 6 ký tự trở lên.");
            return false;
        }

        // Avatar
        // If user don't upload new file, don't need to check.
        // If user upload new file, check if file extension
        // is image format (jpg, png, webp)
        if($('[name="avatar"]').get(0).files.length !== 0 &&
            checkFileImageType(`[name="avatar"]`) === false) {
            $('#avatar-err')
                .text("Hãy kiểm tra đúng định dạng ảnh webp | jpg | png");
            return false;
        }

        var edtBirthDay = document.getElementById("edtBirthday");
        var birthdayText = edtBirthDay.value.trim();
        var birthDayErrMsgSpan = document.getElementById("birthday-err");
        if (birthdayText &&
                !moment(birthdayText, 'YYYY-M-D',true).isValid()) {
            birthDayErrMsgSpan.innerHTML =
                "Nhập ngày sinh đúng định dạng YYYY-M-D";
            return false;
        }

        // Expected salary
        var edtExpectedSalaryInMilVnd =
            document.getElementById("edtExpectedSalary");
        var expectedSalaryInMilVndText =
            edtExpectedSalaryInMilVnd.value.trim();
        var txtExpectedSalaryErrMsg =
            document.getElementById("expected-salary-err");
        if (expectedSalaryInMilVndText) {
            // If expectedSalaryInMilVndText is not a number
            if (isNaN(expectedSalaryInMilVndText)) {
                txtExpectedSalaryErrMsg.innerText =
                    "Nhập mức lương mong muốn là một số.";
                return false;
            }

            let expectedSalaryInMillionVnd =
                Number(expectedSalaryInMilVndText);
            // If expectedSalaryInMilVndText is not an integer number
            // but a decimal number
            if (!Number.isInteger(expectedSalaryInMillionVnd)) {
                txtExpectedSalaryErrMsg.innerText =
                    "Nhập mức lương mong muốn là số nguyên";
                return false;
            }

            // If expectedSalaryInMilVndText is an integer but < 0
            if (expectedSalaryInMillionVnd < 0) {
                txtExpectedSalaryErrMsg.innerText =
                    "Nhập mức lương mong muốn >= 0.";
                return false;
            }
        }

        // Years of experiences
        let edtYearsOfExperiences =
            document.getElementById("edtYearsOfExperiences");
        let txtYearsOfExperiencesErrMsg =
            document.getElementById("years-of-experiences-err");
        let yearsOfExperiencesText = edtYearsOfExperiences.value.trim();
        if (yearsOfExperiencesText) {
            if (isNaN(yearsOfExperiencesText)) {
                txtYearsOfExperiencesErrMsg.innerText =
                    "Nhập số năm kinh nghiệm là một số.";
                return false;
            }

            // If yearsOfExperiences is not an integer number
            // but a decimal number
            let yearsOfExperiences = Number(yearsOfExperiencesText);
            if (!Number.isInteger(yearsOfExperiences)) {
                txtYearsOfExperiencesErrMsg.innerText =
                    "Nhập số năm kinh nghiệm là số nguyên.";
                return false;
            }

            // If yearsOfExperiences < 0
            if (yearsOfExperiences < 0) {
                txtYearsOfExperiencesErrMsg.innerText =
                    "Nhập số năm kinh nghiệm >= 0.";
                return false;
            }
        }

        return true;
    }

    function showHidePassword() {
        const chkShowHidePassword =
            document.getElementById("chkShowHidePassword");
        const edtPassword = document.getElementById("edtPassword");
        if(chkShowHidePassword.checked) {
            edtPassword.type = "text";
        } else {
            edtPassword.type = "password";
        }
    }
</script>
</body>
</html>