<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cấp bậc công việc</title>
    <%- include('../_share/style'); %>
</head>
<body>
<div class="container">
    <%- include('../_share/header'); %>
    <main class="container-fluid">
        <h4 class="text-center">Cấp bậc công việc</h4>
        <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>Cấp bậc công việc</th>
            </thead>

            <tbody>
            <% for(let i = 0; i < jobTitles.length; i++) {%>
                <tr>
                    <td><%= jobTitles[i].id %></td>
                    <td><%= jobTitles[i].name %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </main>
    <%- include('../_share/footer'); %>
</div>
</body>
</html>

