<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tuyển dụng đã phê duyệt</title>
    <%- include('../_share/style'); %>
</head>
<body>
<div class="container">
    <%- include('../_share/header'); %>
    <main class="container-fluid">
        <div style="min-height: 450px; margin-top: 16px;">
            <h4 class="text-center" style="margin-bottom: 16px;">
                Tin tuyển dụng đã phê duyệt
            </h4>
            <p class="text-center">
                Số tin: <%= approvedJobNews.length %>
            </p>

            <form action="" method="GET"
                  id="job-news-filter"
                  style="margin-bottom: 16px;">
                <div class="row">
                    <div class="form-group col-md-5"
                         id="job-news-filter-by-short-description">
                        <input type="text" name="keyword"
                               class="form-control"
                               value="<%= keyword %>"
                               placeholder="Tìm kiếm theo tên công việc" />
                    </div>

                    <div class="form-group col-md-4"
                         id="job-news-filter-by-date-created">
                        <input type="date"
                               id="job-news-date-created-picker"
                               name="createdDate"
                               class="form-control"
                               placeholder="Tìm tin theo ngày tạo"/>
                    </div>

                    <button type="submit"
                            class="btn btn-sm btn-primary col-2"
                            style="margin-left: 10px; margin-right: 10px;">
                        Tìm kiếm
                    </button>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Tên công việc</th>
                        <th>Tên công ty</th>
                        <th>Mức lương</th>
                        <th>Khu vực</th>
                        <th>Loại hình công việc</th>
                        <th>Ngày đăng</th>
                        <th>Hành động</th>
                    </thead>

                    <tbody>
                    <% for(let i = 0; i < approvedJobNews.length; i++) { %>
                        <tr>
                            <td width="20%"><%= approvedJobNews[i].jobShortDescription %></td>
                            <td width="20%"><%= approvedJobNews[i].companyName %></td>
                            <td><%= approvedJobNews[i].salaryInVnd %> VNĐ</td>
                            <td><%= approvedJobNews[i].provinceName %></td>
                            <td><%= approvedJobNews[i].typeOfWork %></td>
                            <td>
                                <%=
                                    moment(approvedJobNews[i]
                                            .timeCreatedNewsMillis)
                                            .format('DD-MM-YY')
                                %>
                            </td>
                            <td width="23%">
                                <form action="/job-news/approved-job-news-details"
                                      method="post"
                                      style="display: inline-block">
                                    <input name="jobNewsId"
                                           value="<%= approvedJobNews[i].id %>"
                                           style="display:none;"
                                    />
                                    <button type="submit"
                                            class="btn btn-info btn-sm">
                                        Chi tiết
                                    </button>
                                </form>
                                &nbsp;
                                <form action="/job-news/cancel-approval-job-news"
                                      method="post"
                                      style="display: inline-block">
                                    <input name="jobNewsId"
                                           value="<%= approvedJobNews[i].id %>"
                                           style="display:none;"
                                    />
                                    <button type="submit"
                                            class="btn btn-warning btn-sm">
                                        Hủy phê duyệt
                                    </button>
                                </form>
                                &nbsp;
                                <form action="/job-news/remove-approved-job-news" method="post"
                                      style="display: inline-block">
                                    <input name="jobNewsId"
                                           value="<%= approvedJobNews[i].id %>"
                                           style="display:none;" />
                                    <button type="submit"
                                            onclick="return confirm('Bạn có ' +
                                         'chắc chắn muốn xóa tất cả ' +
                                          'thông tin của ' +
                                          'tin tuyển dụng này?')"
                                            class="btn btn-danger btn-sm">
                                        Xóa
                                    </button>
                                </form>

                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <%- include('../_share/footer'); %>
</div>
</body>
</html>

